<div ng-app="timeline" ng-controller="GameController as game" class="text-center">
  <welcome></welcome>
      <div ng-show='game.start'>
        <top-panel></top-panel>
        <div class='col-md-12'>
          <div class="card-row">
            <left-arrow></left-arrow>
            <div class="card-container" ng-repeat="card in game.visibleCards">
              <div class="empty-card" id="{{$index * 2}}" ng-click="game.selectPlace($event)">
                <p>
                Click to select this point in time
                </p>
              </div>
              <card></card>
            </div>
            <div class="card-container">
              <div class="empty-card" ng-click="game.selectPlace($event)" id="{{game.visibleCards.length * 2 }}">
                <p>
                Click to select this point in time
                </p>
              </div>
            </div>
            <right-arrow></right-arrow>
          </div>
        </div>
        <new-card></new-card>
      </div>
</div>
