<div ng-hide="game.start" class="container">
  <h1>TIMELINE</h1>
  <h2>How to play?</h2>
  <div class='col-md-6 col-md-offset-3'>
    <p>
    TIMELINE is a great educational game. In order to win you have to place 6 inventions in chronological order.
    You are going to ask yourself: <i>was the light bulb invented before the bicycle? And what about the telegraph?</i>
    <p>
    You get points for correctly guessing in which point in time invention on the card on the bottom of the screen
    took place.
     You win the game when you score 6 points!
    </p>
    </p>
    <p>
    Click the button to start the game.
    </p>
    <button ng-click="game.clickStart()" class="btn btn-default">START GAME</button>
  </div>
  <div class='footer navbar-fixed-bottom col-md-12'>
    Made with <i class="fa fa-heart" style="color:red"></i> by <a href="http://adam-szczombrowski.herokuapp.com/">Adam Szczombrowski</a>
  </div>
</div>
