/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sass-official/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

img{
    width: 130px;
    height: auto;
}
body{
  font-family: Verdana, sans-serif;
}
h1 {
  font-family: Garamond, serif;
  font-size: 36px;
}

h2{
  font-family: Garamond, serif;
  font-weight: bold;
}

.card, .current-card, .empty-card{
  height: 230px;
  width: 150px;
  border: 2px solid hsl(23, 81%, 50%);
  border-radius: 10px;
  margin: 0 2px;
  vertical-align: middle;
  font-family: Verdana, sans-serif;
  font-size: 16px;
  padding: 2px;
  overflow: hidden;
}

.card-row{
  margin: 10px auto;
  display: inline-block;

}

.text-center{
  text-align: center;
}

.right-arrow, .left-arrow{
  font-size: 300%;
  height: 250px;
  width: 50px;
  /*display: inline-block;*/
  color: hsl(23, 81%, 50%);
}

p{
  font-size: 16px;
}

.btn-default{
  background-color: hsl(23, 81%, 50%);
  border-color: hsl(23, 81%, 50%);
  color: hsl(170, 37%, 82%);
  margin-bottom: 170px;
}

.btn-default:hover, .btn-default:active, .btn-default:focus{
  background-color: hsl(23, 97%, 53%);
  border-color: hsl(23, 97%, 53%);
  color: hsl(170, 37%, 82%);
}

h2 > .correct{
  color: rgb(57, 131, 32);
}

.wrong {
  color: rgb(152, 35, 4);
}

left-arrow{
  position: absolute;
  left: 20px;
  top: 100px;
}
right-arrow{
  position: absolute;
  right: 20px;
  top: 100px;
}

body{
  background-color: hsl(185, 54%, 20%);
  color: hsl(170, 37%, 82%);
}
